@model Odigo.Web.Areas.Employer.Models.EmployerRegistrationViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="font-size:x-large">Basic Information</div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.LastName, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.LastName)
                        @Html.DisplayFor(model => model.Employer.Person.LastName)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.FirstName, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.FirstName)
                        @Html.DisplayFor(model => model.Employer.Person.FirstName)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.OtherName, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.OtherName)
                        @Html.DisplayFor(model => model.Employer.Person.OtherName)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.Email, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.Email)
                        @Html.DisplayFor(model => model.Employer.Person.Email)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                   
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.MobilePhone, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.MobilePhone)
                        @Html.DisplayFor(model => model.Employer.Person.MobilePhone)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="font-size:x-large">School Information</div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Name, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Name)
                        @Html.DisplayFor(model => model.Employer.Name)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Website, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Website)
                        @Html.DisplayFor(model => model.Employer.Website)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.State.Id, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.State.Id)
                        @Html.DisplayFor(model => model.Employer.Person.State.Name)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.Lga.Id, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.Lga.Id)
                        @Html.DisplayFor(model => model.Employer.Person.Lga.Name)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-0">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Employer.Person.ContactAddress, new { @class = "control-label " })
                    </div>
                    <div class="col-md-8 text-bold">
                        @Html.HiddenFor(model => model.Employer.Person.ContactAddress)
                        @Html.DisplayFor(model => model.Employer.Person.ContactAddress)
                    </div>
                </div>
            </div>
        </div>

       



    </div>
</div>

